body{
    background: #D8D8D8;
    font-family: 'Montserrat', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
    padding:0px;
}


.navbar-toggler{
    margin: 0px;
    padding: 0px;
}

nav .active{
    font-weight: bold;
    text-decoration:underline;
  }

nav{
    padding: 15px 0 0 0 !important;
}




.nav-link {
    color: #4B4B4B;
    text-decoration: none;
    font-size: 20px;
    width: 220px;
    text-align: center;
    text-transform: uppercase;
}
nav-link :hover{
    color: rgb(12, 5, 47);
    text-decoration:underline;
    font-weight: 500px;
}
h1 {
    font-size: 50px;
    padding-bottom: 20px;
    color: rgb(45, 45, 45);
    font-weight: 800;
}
h2{
    font-size: 30px;
    line-height: 40px;
    font-weight: 500;
    
    }



/* --------------------------footer------------------------------------ */

footer {
    background-color: white;
}
footer p{
    text-decoration: underline;

}

footer a{
    color:black;
    text-decoration: underline;
    font-weight: bolder;
}
footer i{
    font-size: 35px;
    border: 1px solid;
    height: 55px;
    width: 55px;
    text-align: center;
    padding: 8px 0 0 0;
    border-radius: 80px;
    margin: 0 15px;
    background-color: rgb(168, 166, 166);
}


/* ------------------------------Mis Proyectos----------------------------------------- */

#proyectos img{
    min-height: 260px;
    width: 100%;
}

/* -----------------------Formulario-------------------------------------- */

.form-control{
    background-color:white;
    border: 0;
    border-bottom: 1px solid;
    border-radius: 0px;
}

.btn{
    background-color: black;
    color:white;
    border-radius: 0px;

}

/* -------------------------Sobre Mi----------------------------------- */

.img-circle{
    border-radius:40%;
    box-shadow: 2px 2px 10px #666; 
    /* margin: 10px; */
    max-height: 200px;
}

#about .bg-white{
    min-height: 298px;
}
#about h3{
    letter-spacing: 2px;
    font-size: 22px;
    font-weight: 600;
}

#about .fa-code{
    background-color: rgb(89, 89, 92);
    color: white;
    padding: 30px;
    font-size: 40px;
}

#about .fa-database{
    background-color: rgb(89, 89, 92);
    color: white;
    padding: 30px;
    font-size: 40px;
}

#about .fa-language{
    background-color: rgb(89, 89, 92);
    color: white;
    padding: 30px;
    font-size: 40px;
}

#about .fa-window-restore{
    background-color: rgb(89, 89, 92);
    color: white;
    padding: 30px;
    font-size: 40px;
}
#about .fa-puzzle-piece{
    background-color: rgb(89, 89, 92);
    color: white;
    padding: 30px;
    font-size: 40px;
}

.reference{
    text-decoration: underline;
}



#about i {
    background-color: white;
    color:  rgb(89, 89, 92); 
}

#about p{
    font-size: 25px;
}


/* --------------------Bienvenido------------------------------ */

main{
    background: url('files/Fondos-10.png');

}








@media (max-width: 700px) {
    h1{
        font-size: 35px;
    }

    #contacto h2{
        font-size: 20px;
        line-height: 30px;
    }
}

@media (max-width: 700px) {
    h3{
        font-size: 25px;
    }
    #about p{
        font-size: 20px;
    }
    

}