body{
    background: #D8D8D8;
    font-family: 'Montserrat', Tahoma, Geneva, Verdana, sans-serif;
}


nav.active{
    font-weight: bold;
    text-decoration:underline;
  }

nav{
    padding: 15px 0 0 0;
}

.nav-link {
    color: #4B4B4B;
    text-decoration: none;
    font-size: 20px;
    width: 250px;
    text-align: center;
    text-transform: uppercase;
}
nav-link :hover{
    color: rgb(12, 5, 47);
    text-decoration:underline;
    font-weight: 500px;
}
h1 {
    font-size: 50px;
    padding-bottom: 20px;
    color: rgb(45, 45, 45);
    font-weight: 800;
}
h2{
    font-size: 30px;
    line-height: 40px;
    font-weight: 500;
    
    }



/* --------------------------footer------------------------------------ */

footer {
    background-color: white;
}
footer p{
    text-decoration: underline;

}

footer a{
    color:black;
    text-decoration: underline;
    font-weight: bolder;
}
footer i{
    font-size: 35px;
    border: 1px solid;
    height: 55px;
    width: 55px;
    text-align: center;
    padding: 8px 0 0 0;
    border-radius: 80px;
    margin: 0 15px;
    background-color: rgb(168, 166, 166);
}


/* ------------------------------Mis Proyectos----------------------------------------- */

#proyectos img{
    min-height: 260px;
    /* width: 100%; */
}

/* -----------------------Formulario-------------------------------------- */

.form-control{
    background-color: #D8D8D8;
    border: 0;
    border-bottom: 1px solid;
    border-radius: 0px;
}

.btn{
    background-color: black;
    color:white;
    border-radius: 0px;
}


@media (max-width: 700px) {
    h1{
        font-size: 35px;
    }

    #contacto h2{
        font-size: 20px;
        line-height: 30px;
    }
}

@media (max-width: 700px) {
    h3{
        font-size: 25px;
    }
}